crewai==0.30.11
crewai-tools ==0.2.6
langchain-google_genai==1.0.4
langchain==0.1.20
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.52
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
google-api-python-client==2.130.0
python-dotenv
